<% content_for :title do %>Eric Schulz<% end %>
<% content_for :description do %>Eric Schulz Chicago<% end %>


<section>
  <h2>Welcome</h2>
  <h4>It's great to have you visit!  Here you can learn a little about me, or go to 'Contact' in order to send me a short message.  If you would like, you can just leave me your email or twitter handle below and I'll send you a hello or follow you.  Have a great day!</h4>
  <h4>-Eric Schulz</h4>
</section>
<section>
  <div class="column">
    <h2>Stay in touch.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your Twitter or email address...' %>
        <br/>
        <%= f.button :submit, "Click Here to Send", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
<section>
  <%= image_tag "chicago.jpg" %>
</section>